In [3]:
import numpy as np
import pandas as pd

In [4]:
df= pd.read_csv('dataset spam.csv',encoding='latin1')

In [5]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5060,ham,"Sorry, I'll call you later. I am in meeting sir.",NaN,NaN,NaN
1719,ham,Then u better go sleep.. Dun disturb u liao.. ...,NaN,NaN,NaN
1983,ham,I wnt to buy a BMW car urgently..its vry urgen...,NaN,NaN,NaN
5081,ham,\HI BABE UAWAKE?FEELLIKW SHIT.JUSTFOUND OUT VI...,DEVIOUSBITCH.ANYWAY,"IåÕL CALL U\""""",NaN
1913,ham,You want to go?,NaN,NaN,NaN

In [6]:
df.shape

(5572, 5)

1) Data Cleaning

In [7]:
df.info

<bound method DataFrame.info of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [8]:
# droping last 3 col 
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [9]:
df.sample(5)

       v1                                                 v2
3752  ham                         Ya that one is slow as poo
988   ham  Yun ah.the ubi one say if Ì_ wan call by tomor...
5293  ham             I donno its in your genes or something
5448  ham  aight we can pick some up, you open before ton...
298   ham  I cant pick the phone right now. Pls send a me...

In [10]:
# rename col name v1 v2
df.rename(columns={'v1':'target','v2':'text'}, inplace=True)
df.sample(5)

     target                                               text
315     ham                         K.k:)advance happy pongal.
99      ham  Please don't text me anymore. I have nothing e...
2689    ham  Ya ok, vikky vl c witin  &lt;#&gt; mins and il...
4357   spam  Our dating service has been asked 2 contact U ...
5547   spam  Had your contract mobile 11 Mnths? Latest Moto...

In [11]:
from sklearn.preprocessing import LabelEncoder 
encoder= LabelEncoder()

In [12]:
df['target']=encoder.fit_transform(df['target'])

In [13]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [14]:

#missing values
df.isnull().sum()

target    0
text      0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(403)

In [16]:
df=df.drop_duplicates(keep='first')

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
df.shape

(5169, 2)

EDA